DIR=/opt/letsencrypt-zimbra
# send a notification a week before the certificate will be obtained
0 0 1 */2 * root $DIR/sendmail-notification.sh 7
# send a notification a day before the certificate will be obtained
0 0 7 */2 * root $DIR/sendmail-notification.sh 1
# obtain the certificate
0 0 8 */2 * root $DIR/obtain-and-deploy-letsencrypt-cert.sh email@example.com example.com mail.example.com && $DIR/sendmail-notification-successful.sh
