## letsencrypt-zimbra.cfg
#
# A configuration file - shell script - with variables
# this file is sourced by other scripts

# letsencrypt-zimbra parameters ============================
# Email to use for LE registration and to send the notifications
email="admin@example.com"

# One or more FQDNS names to use as common name (or as
# alternative names more precisely) in the certificate.
#
# The letsencrypt won't let you to obtain wildcard certificate
# so use all your needed (and used) DNS names for the server.
#
# Please note that this variable is a bash array, so do not forget to
# use parantheses
#
# example: one CN
common_names=( "example.com" )
# example: several CNs
#common_names=( "example.com" "mail.example.com" "example.cz" )

# letsencrypt tool =========================================
letsencrypt="/opt/certbot/letsencrypt-auto"

zimbra_dir="/opt/zimbra"

zimbra_bin_dir="${zimbra_dir}/bin"
zmcontrol="${zimbra_bin_dir}/zmcontrol"
zmcertmgr="${zimbra_bin_dir}/zmcertmgr"

zimbra_ssl_dir="${zimbra_dir}/ssl/zimbra/commercial"
zimbra_key="${zimbra_ssl_dir}/commercial.key"


# root CA certificate - zimbra needs it
root_CA_file="${letsencrypt_zimbra_dir}/DSTRootCAX3.pem"


# mail variables ==========================================
# 8.7 and later: "${zimbra_dir}/common/sbin/sendmail"
sendmail="${zimbra_dir}/postfix/sbin/sendmail"

### reminder mail ###
reminder_subject="Certificate renewal in ${2:-x} day(s)"
reminder_message="Hello,
this is just a kindly reminder that a letsencrypt-zimbra tool
will try to obtain and install new zimbra certificate in ${2:-x} day(s).

Sincerelly yours,
letsencrypt-zimbra"

### success mail ###
success_subject="Certificate has been renewed"
success_message="Hello,
this is just a kindly reminder that your letsencrypt-zimbra tool
renewed successfully your Zimbra certificate!

Sincerelly yours,
letsencrypt-zimbra"
